.answers-container {
    display: flex;
    margin-bottom: 0.5rem;
    width: 100%;
    font-size: 1.8rem;
    border: 0.1rem solid #F8E16C;
    border-radius: 10rem;
}

.answers-container:hover {
    cursor: pointer;
    transform: translateY(-0.1rem);
}

.answers-letter {
    padding: 1.5rem 2.5rem;
    background-color: #F8E16C;
    color: #1D3557;
    border-radius: 10rem;
}

.answers-text {
    padding: 1.5rem;
}